<div class="w-100 h-100 card">
	<div class="card-title">
		<div
			class="float-left row text-truncate d-block pl-2 pt-1 my-auto mx-0"
		>
			<span style="font-weight: 500;" [ngClass]="{ 'font-1': isMobile }">
				{{ title }} {{ subtitle }}
			</span>
		</div>
		<div class="float-right pr-1 d-block">
			<ng-content select="[annotations]"></ng-content>
			<div class="hover float-right ml-1">
				<i
					title="Descrição do indicador"
					class="fal fa-question-circle"
					(click)="openModal()"
				></i>
			</div>
		</div>
	</div>
	<div class="h-100">
		<ng-content class="h-100" select="[body]"></ng-content>
	</div>
	<!-- <div class="chart-footer w-100">
		<ng-content select="[footer]"></ng-content>
	</div> -->
</div>
