<table class="table">
	<thead>
		<tr>
			<th scope="col">Nome</th>
			<th scope="col">
				<div>
					<div>
						<span>Contas Relacionadas </span>
						<!-- <i class="fad fa-question-circle"></i> -->
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let variable of variables">
			<td>{{ variable.name }}</td>
			<td>
				<input
					class="input-accounting-code"
					type="text"
					(keyup)="onVarEdited(variable)"
					[(ngModel)]="variable.accountingCode"
					ng-pattern=""
				/>
			</td>
		</tr>
	</tbody>
</table>
