<table class="table">
	<thead>
		<tr>
			<th scope="col">Parâmetro</th>
			<th scope="col">
				<div>
					<div>
						<span>Classificações Relacionadas </span>
						<i
							class="fad fa-question-circle question-mark"
							matTooltip="Informe as classificações relacionadas ao parâmetro separando-as por '+' ou '-'. Exemplo: '4.1+4.2-5.3'"
							[matTooltipPosition]="'below'"
						></i>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let variable of variables">
			<td>{{ variable.name }}</td>
			<td>
				<input
					class="input-accounting-code"
					type="text"
					(input)="onVarEdited(variable)"
					[(ngModel)]="variable.accountingCode"
				/>
			</td>
		</tr>
	</tbody>
</table>
