<h6>Visão</h6>
<div class="ml-3 mb-3">
	<mat-form-field class="hover-children">
		<mat-select
			class=""
			[(value)]="selectedScript"
			(selectionChange)="requestVariables()"
		>
			<mat-option class="" *ngFor="let type of types" [value]="type">{{
				type.description
			}}</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<!-- ORDENAÇÃO DOS INDICADORES -->
<chart-order-config
	[descriptions]="pointerDescriptions"
	(onDescriptionChanged)="onDescriptionChanged($event)"
>
</chart-order-config>

<!-- ORDENAÇÃO DOS COMPARATIVOS -->
<chart-order-config
	[title]="'Comparativos'"
	[descriptions]="comparativeDescriptions"
	(onDescriptionChanged)="onDescriptionChanged($event)"
>
</chart-order-config>

<!-- VARIABLES -->
<app-var-list
	[variables]="variables"
	(onVariableEdited)="onVariableEdited($event)"
>
</app-var-list>
