<div *ngIf="kpis.length >= 0" class="row page-content">
	<!-- MANTER COMENTADO.. ISSO É APENAS PARA TESTES -->
	<!-- <div class="col-12 col-md-6 chart-container">
		<google-chart
			class="w-100 h-100 card"
			[dynamicResize]="true"
			[title]="'Teste'"
			[type]="'LineChart'"
			[data]="data"
			[columnNames]="columnNames"
		>
		</google-chart>
	</div> -->

	<div
		*ngIf="!!lucro"
		class="col-12 col-md-6 chart-container lucro-container"
	>
		<div class="w-100 h-100 card">
			<div class="chart-title">
				<div class="float-left text-truncate d-block w-100 pl-2 pt-1">
					<span>
						{{ lucro.title }}
					</span>
				</div>
			</div>
			<div class="card-body text-center">
				<div *ngIf="lucro.value >= 0" class="green">
					<div class="row mx-auto lucro-anual">
						<p class="card-text">R$ {{ valorLucro }}</p>
					</div>
				</div>
				<div *ngIf="lucro.value < 0" class="red">
					<div class="row mx-auto lucro-anual">
						<p class="card-text">-R$ {{ valorLucro }}</p>
					</div>
				</div>
			</div>
			<div class="chart-footer">
				<div class="float-right pr-2 pb-1">
					<button class="btn btn-link p-0" (click)="openModal('07')">
						Anotações
					</button>
				</div>
			</div>
		</div>
	</div>

	<div *ngFor="let kpi of kpis" class="col-12 col-md-6 chart-container">
		<div class="w-100 h-100 card">
			<div class="chart-title">
				<div class="float-left text-truncate d-block w-100 pl-2 pt-1">
					<span>
						{{ kpi.title }}
					</span>
				</div>
			</div>
			<google-chart
				class="chart"
				height="200px"
				[dynamicResize]="true"
				[type]="kpi.chartType"
				[data]="kpi.data"
				[columnNames]="kpi.labelArray"
				[options]="kpi.chartOptions"
			>
			</google-chart>
			<div class="chart-footer">
				<div class="float-right pr-2 pb-1">
					<button
						class="btn btn-link p-0"
						(click)="openModal(kpi.kpiAlias)"
					>
						Anotações
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	*ngIf="kpis.length === 0 && !isLoading"
	class="row no-kpi-container page-content text-center"
>
	<h1 class="w-100 my-auto">
		Não há gráficos disponíveis para o CNPJ selecionado
	</h1>
</div>

<div *ngIf="isLoading" class="row no-kpi-container page-content text-center">
	<div class="mx-auto my-auto">
		<div class="loader"></div>
	</div>
</div>
