@import '../../../../assets/styles/variables.scss';

.input-accounting-code {
	border: none;
	outline: 0;
	border-bottom: 1px solid black;
	width: 9rem;
}

.input-accounting-code:focus {
	border-bottom: 1px solid $base-color;
	color: $base-color;
}

.input-accounting-code:hover {
	border-bottom: 1px solid $base-color;
}

.var-name-span {
	display: block;
	overflow-wrap: break-word;
}

.table-row:hover span {
	color: $base-color;
}

.question-mark:hover {
	cursor: pointer;
}

.btn-open-balance {
	.i-find-balance {
		color: #212529;
	}
	&:hover {
		.i-find-balance {
			color: $base-color;
		}
	}
}

.vertical-align-middle {
	vertical-align: middle !important;
}

@media only screen and (max-width: 800px) {
	#accounting-code {
		margin: 0 !important;
	}
}
