<div *ngIf="variables.length > 0">
	<h5>Informações obrigatórias para geração dos gráficos</h5>
	<div class="pr-4">
		<table class="table ml-3">
			<thead>
				<tr>
					<th class="vertical-align-middle border-0">Item</th>
					<th class="border-0">
						<span>Classificações Relacionadas </span>
						<i
							class="fad fa-question-circle question-mark"
							matTooltip="Informe as classificações relacionadas ao parâmetro separando-as por '+' ou '-'. Exemplo: '4.1+4.2-5.3'"
							[matTooltipPosition]="'below'"
						></i>
					</th>
					<th class="vertical-align-middle border-0">
						Tipo Valor
					</th>
					<th class="vertical-align-middle border-0">
						Origem Valor
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let variable of variables" class="table-row">
					<td style="width: 30rem;">
						<div
							*ngIf="userType === 0; else spanTitle"
							class="row w-100 m-0"
						>
							<span class="var-name-span">
								{{ variable.variableCode }} -
							</span>

							<div class="pl-1 pr-0 col-11">
								<input
									[disabled]="!canManage"
									type="text"
									class="simple-input hover-color w-100"
									[class]="INPUT_VALIDATION_EXCEPTION"
									[(ngModel)]="variable.name"
									(input)="onVarEdited(variable)"
								/>
							</div>
						</div>

						<ng-template #spanTitle>
							<span class="var-name-span">
								{{ variable.variableCode }} -
								{{ variable.name }}
							</span>
						</ng-template>
					</td>
					<td class="vertical-align-middle">
						<div id="accounting-code" class="row ml-3 w-100">
							<input
								[disabled]="!canManage"
								class="input-accounting-code hover-color"
								type="text"
								(input)="onVarEdited(variable)"
								[ngStyle]="{
									'background-color':
										variable.id && variable.accountingCode
											? 'unset'
											: 'beige'
								}"
								[(ngModel)]="variable.accountingCode"
							/>
							<div *ngIf="selectedCompany">
								<button
									*ngIf="canManage"
									class="btn outline-none btn-open-balance focus-box-shadow-none pl-2 pr-2 p-0"
									type="button"
									(click)="openModal(variable)"
									data-toggle="tooltip"
									data-placement="right"
									title="Visualizar Balancete"
								>
									<i
										class="fal fa-file-search i-find-balance"
									></i>
								</button>
							</div>
						</div>
					</td>
					<td>
						<mat-select
							[disabled]="!canManage"
							class="hover-children"
							[(value)]="variable.absoluteValue"
							(selectionChange)="updateVariable(variable)"
						>
							<mat-option class="hover-important" [value]="true"
								>Original</mat-option
							>
							<mat-option class="hover-important" [value]="false"
								>Absoluto</mat-option
							>
						</mat-select>
					</td>
					<td>
						<div class="row m-0" style="flex-wrap: unset;">
							<mat-select
								[disabled]="!canManage"
								class="hover-children"
								[(value)]="variable.originValue"
								(selectionChange)="updateVariable(variable)"
							>
								<mat-option class="hover-important" [value]="1"
									>Saldo Final - Saldo Inicial</mat-option
								>
								<mat-option class="hover-important" [value]="2"
									>Saldo Final</mat-option
								>
								<mat-option class="hover-important" [value]="3"
									>Saldo Inicial</mat-option
								>
								<mat-option class="hover-important" [value]="4"
									>Debito - Crédito</mat-option
								>
								<mat-option class="hover-important" [value]="5"
									>Crédito - Debito</mat-option
								>
								<mat-option class="hover-important" [value]="6"
									>Crédito</mat-option
								>
								<mat-option class="hover-important" [value]="7"
									>Debito</mat-option
								>
							</mat-select>

							<div
								*ngIf="userType === 0 && variable.id && canManage; else info"
								title="Excluir indicador"
								class="float-right hover-cursor hover-color p-0 ml-0"
								data-toggle="tooltip"
								data-placement="right"
								(click)="delete(variable)"
							>
								<i class="fal fa-trash-alt text-danger"></i>
							</div>

							<ng-template #info>
								<div
									*ngIf="userType === 0"
									class="float-right p-0 ml-0"
								>
									<i
										class="fad fa-question-circle question-mark"
										matTooltip="Item da contabilidade"
										[matTooltipPosition]="'below'"
									></i>
								</div>
							</ng-template>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
