<table *ngIf="variables.length > 0" class="table">
	<thead>
		<tr>
			<th scope="col">Parâmetro</th>
			<th scope="col">
				<div>
					<div>
						<span>Classificações Relacionadas </span>
						<i
							class="fad fa-question-circle question-mark"
							matTooltip="Informe as classificações relacionadas ao parâmetro separando-as por '+' ou '-'. Exemplo: '4.1+4.2-5.3'"
							[matTooltipPosition]="'below'"
						></i>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let variable of variables">
			<td>{{ variable.name }}</td>
			<td>
				<div class="row">
					<input
						class="input-organization-code"
						type="text"
						(input)="onVarEdited(variable)"
						[(ngModel)]="variable.accountingCode"
					/>
					<!-- <div>
						<button class="btn outline-none focus-box-shadow-none" type="button" (click)="openModal()">
							<i class="fal fa-file-search"></i>
						</button>
					</div> -->
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div *ngIf="variables.length === 0"></div>
