<!-- <div>
	<article class="bee3D--parent carousel">
		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'ColumnChart'"
				[options]="myOptions"
			></google-chart>
		</section>
		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'LineChart'"
				[options]="myOptions"
			></google-chart>
		</section>
		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'PieChart'"
				[options]="myOptions"
			></google-chart>
		</section>

		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'ColumnChart'"
				[options]="myOptions"
			></google-chart>
		</section>
		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'LineChart'"
				[options]="myOptions"
			></google-chart>
		</section>
		<section class="bee3D--slide">
			<google-chart
				class="w-100 h-100"
				[data]="myData"
				[type]="'PieChart'"
				[options]="myOptions"
			></google-chart>
		</section>
	</article>
</div> -->
