@import '../../../assets/styles/variables.scss';

.page-content {
	margin-right: 0px;
}

.chart {
	height: 98%;
	width: 98%;
}

.chart-container {
	height: 20vw;
	margin-bottom: 20px;
	padding-right: 0px;
}

.chart-footer {
	// position: absolute;
	bottom: 2px;
	right: 2px;
}

.lucro-anual {
	width: fit-content;
	font-weight: bold;
	font-size: -webkit-xxx-large;
	padding-top: 10%;
}

.chart-title {
	font-size: 1rem !important;
	z-index: 1;
}

.no-kpi-container {
	padding: 15px;
	height: 70vh;
	font-weight: 700;
	color: darkgray;
}

.card {
	background-color: #fafafa !important;
}

.card:hover {
	border-color: rgba($base-color, 0.5);
}

@media only screen and (max-width: 800px) {
	.chart-container {
		height: unset;
		min-height: 16rem;
	}

	.lucro-container {
		min-height: 11rem;
	}

	.lucro-anual {
		font-size: 2rem !important;
	}
}
