.page-content {
	margin-right: 0px;
}

.chart-container {
	height: 30vh;
	margin-bottom: 20px;
	padding-right: 0px;
}

.no-kpi-container {
	padding: 15px;
	height: 70vh;
	font-size: 4vh;
	font-weight: 700;
	color: darkgray;
}

@media only screen and (max-width: 800px) {
	.chart-container {
		height: 300px;
	}
}
