@import '../../../../../assets/styles/variables.scss';

.btn-link:hover {
	background-color: $base-color-opacity-1;
}

.input-accounting-code {
	margin-bottom: 1rem;
	width: -webkit-fill-available;
}

.modal-dialog {
	max-width: unset;
}

.table-fixed {
	width: 100%;
	tbody {
		height: 60vh;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
	}
	thead,
	tbody,
	tr,
	td,
	th {
		display: block;
	}
	tbody {
		td {
			float: left;
		}
	}
	thead {
		tr {
			th {
				float: left;
			}
		}
	}
}
