.mat-dialog-container {
	padding: 0 !important;
}

.close {
	padding: 0;
	outline: none;
	position: absolute;
	right: 0.9rem;
	top: 0.9rem;
}

textarea {
	resize: none;
}

.bg-lightblue {
	background: rgb(245, 252, 255);
}

.delete-annotation {
	font-size: 1rem;
	padding: 0.7rem;
}

.delete-annotation:hover {
	cursor: pointer;
}

.mheader {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.no-annotation-text {
	font-size: 1.7rem;
	font-weight: 500;
	color: darkgray;
}

.editable-div {
	outline: -webkit-focus-ring-color auto 1px;
}
