<div class="modal-dialog modal-dialog-scrollable m-0 h-100" role="document">
	<!-- HEADER -->
	<div class="modal-content">
		<div class="modal-header">
			<div class="container p-0">
				<div class="pl-3 mheader row">
					<h5 class="modal-title" id="exampleModalLabel">Anotações</h5>
					<div class="div-btn-nova-anotacao">
						<button type="button" class="close" (click)="close()">
							<span class="pr-1" aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- HEADER -->

		<!-- BODY -->
		<div class="modal-body pb-2 pt-2">
			<div *ngIf="true" class="container">
				<div class="row">
					<div class="w-100">
						<div class="collapse" id="collapseExample">
							<div>
								<div>
									<textarea
										[(ngModel)]="description"
										class="form-control"
										rows="4"
										cols="58"
										[maxLength]="300"
										pInputTextarea
									></textarea>
									<span class="float-left">{{ 300 - description.length }}</span>
								</div>
							</div>
							<p-button
								class="float-right mt-1 ml-1"
								(click)="postAnnotation()"
								data-toggle="collapse"
								data-target="#collapseExample"
								label="Enviar"
							>
							</p-button>
							<p-fileUpload
								class="float-right mt-1"
								mode="basic"
								name="demo[]"
								customUpload="true"
								data-toggle="collapse"
								data-target="#collapseExample"
								label="Enviar arquivo"
								(uploadHandler)="onUpload($event)"
								[auto]="true"
							></p-fileUpload>
						</div>
					</div>
					<button
						class="btn btn-link mx-auto p-0 mb-4"
						type="button"
						data-toggle="collapse"
						data-target="#collapseExample"
					>
						Nova anotação
					</button>
				</div>
			</div>

			<div *ngFor="let annotation of annotations" class="mb-3">
				<div class="mb-2">
					<div class="shadow-sm rouded bg-lightblue fit-content mx-auto">
						<span class="m-2 fit-content">{{
							formatDate(annotation.createAt)
						}}</span>
					</div>
				</div>
				<div>
					<div class="card mb-2 bg-light">
						<div class="card-title p-0 m-0">
							<strong class="float-left pt-2 pl-3">{{
								annotation.createdBy
							}}</strong>
							<div class="float-right">
								<i
									class="far fa-times delete-annotation float-right"
									title="Excluir Anotação"
									(click)="deleteAnnotation(annotation.id)"
								></i>
							</div>
						</div>
						<div class="card-body pt-0 pb-2">
							<!-- <div
								[(ngModel)]="annotation.description"
								class="card-text"
								propValueAccessor="innerHTML"
								contenteditable="true"
								(keyup)="editAnnotation(annotation)"
							></div> -->
							<div
								*ngIf="!isFile(annotation.description)"
								[(ngModel)]="annotation.description"
								class="card-text"
								propValueAccessor="innerHTML"
								contenteditable="true"
								(keyup)="editAnnotation(annotation)"
							></div>
							<a
								*ngIf="isFile(annotation.description)"
								[href]="annotation.description"
								class="card-text"
							>
								{{ substrFileName(annotation.description) }}
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- BODY -->
		</div>
	</div>
</div>
