<app-select-company
	(selectedCompany)="onCompanyChanged($event)"
></app-select-company>

<div *ngIf="kpis.length >= 0" class="row page-content">
	<div
		*ngIf="!!profit"
		class="col-12 col-md-6 chart-container profit-container"
		style="height: 18rem;"
		(resized)="onResize()"
	>
		<app-card
			[kpiAlias]="'07'"
			[cnpj]="selectedCompany.cnpj"
			[title]="profit.title"
		>
			<div
				body
				class="row h-100 mx-auto yearly-profit align-items-center p-0"
			>
				<span
					class="card-text"
					[ngClass]="profit.value > 0 ? 'green' : 'red'"
				>
					{{ profit.value | currency: 'BRL':'symbol':'0.0-0':'pt' }}
				</span>
			</div>

			<div annotations class="hover float-left">
				<i
					title="Anotações"
					class="fal fa-comment-alt-edit"
					(click)="openModal('07')"
				></i>
			</div>
		</app-card>
	</div>

	<div *ngFor="let kpi of kpis" class="col-12 col-md-6 chart-container">
		<div style="height: 18rem;">
			<app-card
				[kpiAlias]="kpi.kpiAlias"
				[cnpj]="selectedCompany.cnpj"
				[title]="kpi.title"
			>
				<div class="h-100" body>
					<app-chart [kpi]="kpi"></app-chart>
				</div>

				<div annotations class="hover float-left">
					<i
						title="Anotações"
						class="fal fa-comment-alt-edit"
						(click)="openModal(kpi.kpiAlias)"
					></i>
				</div>
			</app-card>
		</div>
	</div>
</div>

<div
	*ngIf="kpis.length === 0 && !profit && !isLoading"
	class="row no-kpi-container page-content text-center"
>
	<h1 class="w-100 my-auto">
		Não há gráficos disponíveis para o CNPJ selecionado
	</h1>
</div>

<div *ngIf="isLoading" class="row no-kpi-container page-content text-center">
	<div class="mx-auto my-auto">
		<div class="loader"></div>
	</div>
</div>
