@import '../../../assets/styles/variables.scss';

.page-content {
	margin-right: calc(100% + 15px);
}

.yearly-profit {
	width: fit-content;
	font-weight: bold;
	font-size: -webkit-xxx-large;
	padding-top: 10%;
}

.yearly-profit span {
	height: fit-content;
}

.no-kpi-container {
	padding: 15px;
	height: 70vh;
	font-weight: 700;
	color: darkgray;
}

.chart-container {
	margin-bottom: 20px;
	padding-right: 0px;
}

@media only screen and (max-width: 800px) {
	.chart-container {
		height: unset;
		min-height: 16rem;
	}

	.profit-container {
		min-height: 11rem;
	}

	.yearly-profit {
		font-size: 2rem !important;
	}
}
