@import '../../../../assets/styles/variables.scss';

.example-container {
	width: 400px;
	max-width: 100%;
	margin: 0 25px 25px 0;
	display: inline-block;
	vertical-align: top;
}

.example-list {
	border: solid 1px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}

.example-box {
	padding: 20px 10px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

table {
	background-color: #fafafa;
}

tbody {
	height: 20rem;
	overflow: auto;
}

.input-description-title {
	width: 20rem;
}

.simple-input {
	border: none;
	outline: 0;
	background-color: #fafafa;
	border-bottom: 1px solid black;
	margin: 0 !important;
}

.simple-input-title:focus {
	border-bottom: 1px solid $base-color;
	color: $base-color;
}

.simple-input:hover {
	border-bottom: 1px solid $base-color;
}

td * {
	margin-left: 1rem;
	margin-right: 1rem;
}

.cursor-move:hover {
	cursor: move;
}

mat-select {
	width: 10rem !important;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
