<h4>Ordenação dos Gráficos</h4>
<table
	mat-table
	#table
	[dataSource]="descriptions"
	class="w-100"
	cdkDropList
	[cdkDropListData]="descriptions"
	(cdkDropListDropped)="dropTable($event)"
>
	<!-- Position Column -->
	<ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef><span class="ml-2">#</span></th>
		<td mat-cell *matCellDef="let description">
			<mat-icon class="cursor-move m-0" cdkDragHandle>reorder</mat-icon>
		</td>
	</ng-container>

	<!-- Symbol Column -->
	<ng-container matColumnDef="visibility">
		<th mat-header-cell *matHeaderCellDef>
			<i
				class="fad fa-question-circle question-mark ml-3"
				matTooltip="Marque os indicadores que serão exibidos"
				[matTooltipPosition]="'below'"
			></i>
		</th>
		<td mat-cell *matCellDef="let description">
			<input
				type="checkbox"
				[(ngModel)]="description.visible"
				(change)="descriptionUpdated()"
			/>
		</td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="title">
		<th mat-header-cell *matHeaderCellDef>Título</th>
		<td mat-cell *matCellDef="let description">
			<input
				class="simple-input input-description-title"
				type="text"
				[(ngModel)]="description.title"
				(input)="descriptionUpdated()"
			/>
		</td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef>Tipo do Gráfico</th>
		<td mat-cell *matCellDef="let description">
			<mat-select
				class="m-0"
				[(value)]="description.chartType"
				(selectionChange)="updateDescriptionList()"
			>
				<mat-option [value]="'ColumnChart'">Coluna</mat-option>
				<mat-option [value]="'LineChart'">Linha</mat-option>
				<mat-option [value]="'PieChart'">Pizza</mat-option>
				<mat-option [value]="'BarChart'">Barra</mat-option>
			</mat-select>
		</td>
	</ng-container>

	<ng-container matColumnDef="description">
		<th mat-header-cell *matHeaderCellDef>Descrição do Indicador</th>
		<td mat-cell *matCellDef="let description" style="width: fit-content;">
			<p class="m-0 text-truncate float-left" style="width: 20rem;">
				{{
					description.description ||
						'Este indicador não possui descrição personalizada a a a a a a a a a a a a a a a a a a a a a a a a a a a a'
				}}
			</p>
			<div class="float-right hover-cursor hover-base-color">
				<i class="fal fa-money-check-edit"></i>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr
		mat-row
		*matRowDef="let row; columns: displayedColumns"
		cdkDrag
		[cdkDragData]="row"
	></tr>
</table>

<!-- <p-overlayPanel #op>
	<textarea
		*ngIf="selectedDescription"
		name="description-description"
		cols="30"
		rows="10"
		appendTo="body"
		[(ngModel)]="selectedDescription.description"
		(input)="descriptionUpdated()"
	></textarea>
</p-overlayPanel> -->
