<div *ngIf="descriptions?.length > 0" class="mb-4">
	<h5>Ordenação dos {{ title }}</h5>
	<div class="w-100 pr-4">
		<table
			#table
			mat-table
			cdkDropList
			class="w-100 ml-3"
			[dataSource]="descriptions"
			[cdkDropListData]="descriptions"
			(cdkDropListDropped)="dropTable($event)"
		>
			<!-- Position Column -->
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef>
					<span class="ml-2">#</span>
				</th>
				<td mat-cell *matCellDef="let description">
					<mat-icon class="cursor-move m-0" cdkDragHandle
						>reorder</mat-icon
					>
				</td>
			</ng-container>

			<!-- Is Visible Column -->
			<ng-container matColumnDef="visibility">
				<th mat-header-cell *matHeaderCellDef>
					<i
						class="fad fa-question-circle question-mark ml-3"
						matTooltip="Marque os indicadores que serão exibidos"
						[matTooltipPosition]="'below'"
					></i>
				</th>
				<td mat-cell *matCellDef="let description">
					<input
						type="checkbox"
						[(ngModel)]="description.visible"
						(change)="descriptionUpdated()"
					/>
				</td>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="title">
				<th mat-header-cell *matHeaderCellDef>Título</th>
				<td mat-cell *matCellDef="let description">
					<input
						class="simple-input input-description-title hover-color"
						type="text"
						[(ngModel)]="description.title"
						(input)="descriptionUpdated()"
					/>
				</td>
			</ng-container>

			<!-- Chart Type Column -->
			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef>Tipo do Gráfico</th>
				<td mat-cell *matCellDef="let description">
					<div
						*ngIf="
							description.chartType.indexOf('ColumnChart') >= 0 ||
							description.chartType.indexOf('LineChart') >= 0
						"
						class="m-0"
					>
						<mat-select
							class="m-0 hover-children"
							[(value)]="description.chartType"
							(selectionChange)="updateDescriptionList()"
						>
							<mat-option
								class="hover-important"
								[value]="'ColumnChart'"
								>Coluna</mat-option
							>
							<mat-option
								class="hover-important"
								[value]="'ColumnChartMultiple'"
								>Coluna Multipla</mat-option
							>
							<mat-option
								class="hover-important"
								[value]="'ColumnChartStacked'"
								>Coluna Múltipla Empilhada</mat-option
							>
							<mat-option
								class="hover-important"
								[value]="'LineChart'"
								>Linha</mat-option
							>
							<mat-option
								class="hover-important"
								[value]="'LineChartMultiple'"
								>Linha Múltipla</mat-option
							>
						</mat-select>
					</div>
					<div
						*ngIf="
							description.chartType.indexOf('PieChart') >= 0 ||
							description.chartType.indexOf('DonutChart') >= 0
						"
						class="m-0"
					>
						<mat-select
							class="m-0 hover-children"
							[(value)]="description.chartType"
							(selectionChange)="updateDescriptionList()"
						>
							<mat-option
								class="hover-important"
								[value]="'PieChart'"
								>Pizza</mat-option
							>
							<mat-option
								class="hover-important"
								[value]="'DonutChart'"
								>Rosca</mat-option
							>
						</mat-select>
					</div>
				</td>
			</ng-container>

			<!-- Description column -->
			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef>
					Descrição do Indicador
				</th>
				<td
					mat-cell
					*matCellDef="let description"
					style="width: fit-content;"
				>
					<p
						class="m-0 text-truncate float-left hover-color"
						style="width: 20rem;"
					>
						{{
							description.description ||
								'Este indicador não possui descrição personalizada'
						}}
					</p>
					<div
						*ngIf="userType === 0"
						class="float-right hover-cursor hover-color p-0 ml-0"
						(click)="delete(description)"
					>
						<i class="fal fa-trash-alt text-danger"></i>
					</div>
					<div
						class="float-right hover-cursor hover-color p-0 mr-0"
						(click)="openModal(description)"
					>
						<i class="fal fa-money-check-edit"></i>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				mat-row
				*matRowDef="let row; columns: displayedColumns"
				cdkDrag
				[cdkDragData]="row"
			></tr>
		</table>
	</div>
</div>
