<app-select-company
	(selectedCompany)="onCompanyChanged($event)"
></app-select-company>

<div *ngIf="kpis.length >= 0" class="w-100">
	<div class="row mr-0">
		<div *ngFor="let kpi of kpis" class="col-12 col-md-4 chart-container">
			<div>
				<app-card
					[kpiAlias]="kpi.kpiAlias"
					[cnpj]="selectedCompany.cnpj"
					[title]="kpi.title"
				>
					<div class="h-100" body>
						<app-chart [kpi]="kpi"></app-chart>
					</div>
				</app-card>
			</div>
		</div>
	</div>
</div>

<div
	*ngIf="kpis.length === 0 && !isLoading"
	class="row no-kpi-container text-center"
>
	<h1 class="w-100 my-auto">
		Não há gráficos disponíveis para o CNPJ selecionado
	</h1>
</div>

<div *ngIf="isLoading" class="row no-kpi-container text-center">
	<div class="mx-auto my-auto">
		<div class="loader"></div>
	</div>
</div>
