<div class="h-100">
	<div>
		<app-select-company
			(selectedCompany)="onCompanyChanged($event)"
		></app-select-company>
	</div>
	<div *ngFor="let kpi of kpis">
		<div
			[ngClass]="{ 'mobile-height': isPortrait }"
			class="w-100 card mb-3"
		>
			<div class="chart-title">
				<div class="float-left text-truncate d-block w-100 pl-2 pt-1">
					<h4>
						{{ kpi.title }}
					</h4>
				</div>
			</div>
			<google-chart
				class="chart pb-2"
				[dynamicResize]="true"
				[type]="kpi.chartType"
				[data]="kpi.data"
				[columnNames]="kpi.labelArray"
				[options]="kpi.chartOptions"
			>
			</google-chart>
		</div>
	</div>
</div>
