<!-- SELECT COMPANY -->
<app-select-company
	(selectedCompany)="onCompanyChanged($event)"
></app-select-company>

<h5 class="mb-2 underline">Configurações da Empresa</h5>
<div class="m-3">
	<div>
		<div class="">
			<mat-form-field>
				<mat-label>Setor</mat-label>
				<mat-select
					class="hover-children hover-border-color-important"
					[(value)]="selectedSector"
					(selectionChange)="updateSetor()"
				>
					<mat-option
						class="hover-important"
						*ngFor="let sector of sectors"
						[value]="sector.value"
					>
						{{ sector.label }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</div>

<!-- ORDENAÇÃO DOS INDICADORES -->
<!-- <chart-order-config
	[descriptions]="pointerDescriptions"
	(onDescriptionChanged)="onDescriptionChanged($event)"
>
</chart-order-config> -->

<!-- ORDENAÇÃO DOS COMPARATIVOS -->
<!-- <chart-order-config
	[title]="'Comparativos'"
	[descriptions]="comparativeDescriptions"
	(onDescriptionChanged)="onDescriptionChanged($event)"
>
</chart-order-config> -->

<!-- VARIABLES -->
<app-var-list
	[variables]="variables"
	[selectedCompany]="selectedCompany"
	(onVariableEdited)="onVariableEdited($event)"
>
</app-var-list>
