<app-select-company
	(selectedCompany)="onCompanyChanged($event)"
></app-select-company>

<div>
	<h5 class="mb-4 underline">Configurações do Cliente</h5>
	<div class="m-3">
		<div>
			<!-- <div class="ml-0 mt-2 mb-2">
				<p-checkbox
					binary="true"
					[(ngModel)]="shareCompanyData"
					[label]="'Comparar empresas'"
					(onChange)="updateSetor()"
				></p-checkbox>
			</div> -->

			<div class="">
				<span>Setor</span>
				<p-dropdown
					placeholder="Setor"
					[(ngModel)]="selectedSector"
					[options]="sectors"
					(onChange)="updateSetor()"
				></p-dropdown>
			</div>
		</div>
	</div>
	<!-- *ngIf="descriptions.length > 0" -->
	<div class="m-3">
		<chart-order-config
			[descriptions]="descriptions"
			(onDescriptionChanged)="onDescriptionChanged($event)"
		>
		</chart-order-config>
	</div>

	<div *ngIf="variables.length >= 0" class="m-3">
		<h5 class="mb-3">Parâmetros</h5>
		<div class="m-2">
			<app-var-list
				[variables]="variables"
				[cnpj]="selectedCompany?.cnpj"
				(onVariableEdited)="onVariableEdited($event)"
			>
			</app-var-list>
		</div>
	</div>
</div>
