<div class="pb-3">
	<mat-expansion-panel [(expanded)]="panelOpenState">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<div class="mt-2 mb-2">
					<span style="vertical-align:middle">{{
						company?.name
					}}</span>
					<br />
					<span style="vertical-align:middle">{{
						company?.cnpj | mask: '00.000.000/0000-00'
					}}</span>
				</div>
			</mat-panel-title>
			<!-- <mat-panel-description>
				{{ company?.cnpj | mask: '00.000.000/0000-00' }}
			</mat-panel-description> -->
		</mat-expansion-panel-header>

		<div class="pb-3">
			<input
				pInputText
				type="text"
				class="w-100"
				name="Filtrar empresa"
				(input)="updateFilter()"
				[(ngModel)]="filter"
			/>
		</div>

		<div style="height: 20rem;" id="scrollContent" class="company-list">
			<div *ngFor="let comp of companies" class="pb-2">
				<div
					class="item pl-3 pr-3 pt-2 pb-2 rounded"
					(click)="onCompanyChanged(comp)"
				>
					<span style="vertical-align:middle">{{ comp.name }}</span>
					<br />
					<span style="vertical-align:middle">{{
						comp.cnpj | mask: '00.000.000/0000-00'
					}}</span>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</div>
