@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/pure-css-loader.scss';

.item {
	transition: all 500ms ease;
}

.item:hover {
	cursor: pointer;
	background-color: $base-color-opacity-2;
}

.company-list {
	overflow-y: scroll;
}

mat-expansion-panel {
	box-shadow: none !important;
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: $background-color;
}

mat-expansion-panel:hover {
	border-color: rgba($base-color, 0.5);
}

mat-expansion-panel mat-expansion-panel-header:hover {
	background-color: $background-color !important;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
