<div class="header" color="primary">
	<button
		class="button btn-menu outline-none position-absolute"
		type="button"
		(click)="drawer.toggle()"
		*ngIf="isHandset$ | async"
		aria-label="Botão Menu"
	>
		<i class="fal fa-bars"></i>
	</button>
	<div
		*ngIf="!organizationLogoUrl"
		class="logo-container float-left"
		[ngClass]="{ 'mx-auto': isHandset$ | async }"
	>
		<img
			src="../../../assets/img/logo-default.png"
			alt="Logo Ottimizza"
			class="logo unselectable"
			[ngClass]="{ 'mx-auto': isHandset$ | async }"
		/>
	</div>
	<div
		*ngIf="!!organizationLogoUrl"
		class="nop-logo float-left d-flex align-items-center justify-content-center"
		[ngClass]="{ 'mx-auto': isHandset$ | async }"
	>
		<img
			src="{{ organizationLogoUrl }}"
			alt="Logo Contabilidade"
			class="logo unselectable mx-auto"
		/>
	</div>

	<div class="dropdown outline-none" type="button" aria-label="Botão Logout">
		<button
			class="button btn-logout outline-none"
			[ngClass]="{ 'font-large': !avatarUrl }"
			type="button"
			data-toggle="dropdown"
		>
			<img
				*ngIf="!!avatarUrl"
				class="avatar"
				src="{{ avatarUrl }}"
				alt="Avatar"
			/>
			<i *ngIf="!avatarUrl" class="fal fa-user"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{{ profileUrl }}" target="_blank">Ver Perfil</a>
			<a class="dropdown-item" [routerLink]="['/logout']">Sair</a>
		</div>
	</div>
</div>

<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav position-absolute"
		fixedInViewport="true"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)"
	>
		<mat-nav-list>
			<div *ngFor="let menuItem of menuItems; let i = index">
				<div
					*ngIf="userPermissionLevel <= menuItem.permissonLevelNeeded"
					class="item outline-none w-100"
					[routerLink]="[menuItem.path]"
					routerLinkActive="selected-item"
					[routerLinkActiveOptions]="{ exact: false }"
				>
					<div class="d-flex mb-2 ml-3 mr-1 p-2">
						<div class="d-flex">
							<span
								class="icon-span h-100 d-flex align-items-center"
								><i class="{{ menuItem.icon }}"></i
							></span>
						</div>
						<div class="float-right pl-4">
							<span class="title unselectable" mat-list-item>{{
								menuItem.title
							}}</span>
						</div>
					</div>
				</div>
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="p-3 page-content h-100">
			<router-outlet class="h-100"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
