<div class="modal-dialog modal-dialog-scrollable m-0 h-100" role="document">
	<div class="modal-content border-0">
		<!-- HEADER -->
		<div class="modal-header">
			<div class="container p-0">
				<div class="pl-3 mheader row">
					<h5 class="modal-title" id="exampleModalLabel">
						Descrição do indicador
					</h5>
					<div class="div-btn-nova-anotacao">
						<button
							type="button"
							class="close"
							(click)="dialogRef.close()"
						>
							<span class="pr-1" aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-body pb-0 pt-2">
			<ng-container *ngIf="loading; else notLoading">
				<div class="loading-container row text-center mt-2">
					<div class="mx-auto my-auto">
						<div class="loader"></div>
					</div>
				</div>
			</ng-container>
			<ng-template #notLoading>
				<div *ngIf="description?.description; else noDescription">
					<div class="row">
						<div class="m-4 pr-4 w-100">
							<span class="card-text" style="white-space: break-spaces;">{{
								description.description
							}}</span>
						</div>
					</div>
				</div>

				<ng-template #noDescription>
					<div class="row">
						<div class="m-4 pr-4 w-100">
							<span class="card-text"
								>Este indicador não possui descrição</span
							>
						</div>
					</div>
				</ng-template>
			</ng-template>
		</div>
	</div>
</div>
