<div class="modal-dialog modal-dialog-scrollable m-0 h-100" role="document">
	<div class="modal-content">
		<!-- HEADER -->
		<div class="modal-header">
			<div class="container p-0">
				<div class="pl-3 mheader row">
					<h5 class="modal-title" id="exampleModalLabel">
						Anotações
					</h5>
					<div class="div-btn-nova-anotacao">
						<button type="button" class="close" (click)="close()">
							<span class="pr-1" aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- HEADER -->

		<!-- BODY -->
		<div class="modal-body pb-0 pt-2">
			<!-- NEW ANNOTATION -->
			<div class="container">
				<div class="row">
					<div class="w-100">
						<div class="collapse" id="new-annotation-collapse">
							<div>
								<div>
									<textarea
										[(ngModel)]="description"
										class="form-control"
										rows="4"
										cols="58"
										[maxLength]="255"
										pInputTextarea
									></textarea>
									<span class="float-left">{{
										255 - description.length
									}}</span>
								</div>
							</div>
							<p-button
								class="float-right mt-1 ml-1"
								(click)="postAnnotation()"
								data-toggle="collapse"
								data-target="#new-annotation-collapse"
								label="Enviar mensagem"
							>
							</p-button>
							<p-fileUpload
								#upload
								class="float-right mt-1"
								mode="basic"
								name="demo[]"
								customUpload="true"
								data-toggle="collapse"
								data-target="#new-annotation-collapse"
								chooseLabel="Enviar arquivo"
								maxFileSize="10000000"
								(uploadHandler)="
									onUpload($event); upload.clear()
								"
								[auto]="true"
							></p-fileUpload>
						</div>
					</div>
					<button
						class="btn btn-link mx-auto p-0 mb-4"
						type="button"
						data-toggle="collapse"
						data-target="#new-annotation-collapse"
					>
						Nova anotação
					</button>
				</div>
			</div>
			<!-- NEW ANNOTATION -->

			<!-- ANNOTATIONS -->
			<div>
				<!-- ANNOTATIONS LOADING -->
				<div *ngIf="isLoading" class="row text-center mb-5">
					<div class="mx-auto">
						<div class="loader"></div>
					</div>
				</div>
				<!-- ANNOTATIONS LOADING -->

				<!-- ANNOTATIONS LOADING ENDED -->
				<div class="row">
					<!-- NO ANNOTATIONS FOUND -->
					<div
						*ngIf="!isLoading && noAnnotation"
						class="mb-4 w-100 text-center"
					>
						<span class="w-100 mx-auto no-annotation-text">
							Nenhuma anotação para esse gráfico.
						</span>
					</div>
					<!-- NO ANNOTATIONS FOUND -->

					<!-- ANNOTATIONS -->
					<div *ngIf="!noAnnotation" class="pl-3 pr-3 w-100">
						<div
							*ngFor="let annotation of annotations"
							class="mb-3"
						>
							<div class="mb-2">
								<div
									class="shadow-sm rouded bg-lightblue fit-content mx-auto"
								>
									<span class="m-2 fit-content">{{
										formatDate(annotation.createAt)
									}}</span>
								</div>
							</div>
							<div>
								<div class="card mb-2 bg-light">
									<div class="card-title p-0 m-0">
										<strong class="float-left pt-2 pl-3">{{
											annotation.createdBy
										}}</strong>
										<div class="float-right">
											<!-- <i
												class="far fa-times delete-annotation float-right"
												title="Excluir Anotação"
												(click)="deleteAnnotation(annotation.id)"
											></i> -->
											<i
												id="dropdownMenuButton"
												class="far fa-ellipsis-v delete-annotation"
												data-toggle="dropdown"
												aria-haspopup="true"
												aria-expanded="false"
											></i>
											<div
												class="dropdown-menu"
												aria-labelledby="dropdownMenuButton"
											>
												<a
													*ngIf="
														!isFile(
															annotation.description
														)
													"
													class="dropdown-item hover-cursor"
													(click)="
														annotation.contenteditable = true;
														annotation.beforeEdit =
															annotation.description
													"
													>Editar</a
												>
												<a
													class="dropdown-item hover-cursor"
													(click)="
														deleteAnnotation(
															annotation.id
														)
													"
													>Excluir</a
												>
											</div>
										</div>
									</div>
									<div class="card-body pt-0 pb-2">
										<div>
											<div
												#annotationDiv
												*ngIf="
													!isFile(
														annotation.description
													)
												"
												[ngClass]="{
													'editable-div': !!annotation.contenteditable
												}"
												[(ngModel)]="
													annotation.description
												"
												class="card-text"
												propValueAccessor="innerHTML"
												contenteditable="{{
													!!annotation.contenteditable
												}}"
											></div>
											<div
												*ngIf="
													!!annotation.contenteditable
												"
											>
												<button
													class="btn btn-link float-right"
													type="button"
													(click)="
														editAnnotation(
															annotation
														);
														annotation.contenteditable = false
													"
												>
													Salvar
												</button>
												<button
													class="btn btn-link float-right"
													type="button"
													(click)="
														annotation.description =
															annotation.beforeEdit;
														annotation.contenteditable = false
													"
												>
													Cancelar
												</button>
											</div>
										</div>

										<a
											*ngIf="
												isFile(annotation.description)
											"
											[href]="annotation.description"
											class="card-text"
										>
											{{
												substrFileName(
													annotation.description
												)
											}}
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ANNOTATIONS -->
				</div>
				<!-- ANNOTATIONS LOADING ENDED -->
			</div>
			<!-- ANNOTATIONS -->
		</div>
		<!-- BODY -->
	</div>
</div>
