// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bussola-web-primary: mat-palette($mat-indigo);
$bussola-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bussola-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bussola-web-theme: mat-light-theme(
	$bussola-web-primary,
	$bussola-web-accent,
	$bussola-web-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bussola-web-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';
@import './assets/styles/pure-css-loader.scss';
@import './assets/styles/material-theme';

.outline-none:focus {
	outline: 0 none !important;
}

.focus-box-shadow-none:focus {
	box-shadow: none !important;
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.position-absolute {
	position: absolute;
}

.position-unset {
	position: unset !important;
}

.ui-carousel-dots-container {
	display: none !important;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hover-cursor:hover {
	cursor: pointer !important;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fit-content {
	width: fit-content !important;
}

svg {
	border-radius: 5px;
}

.ui-dropdown {
	margin-bottom: 20px !important;
	width: 100% !important;
}

// DIALOG
.mat-dialog-container {
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.cdk-overlay-pane {
	max-width: 95vw !important;
}

// COLORS
.hover-base-color:hover {
	color: $base-color;
}

.red {
	color: red;
}

.green {
	color: green;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// text {
// 	fill: white;
// }
