@import './variables.scss';

.loader {
	border: 10px solid $lighter-grey;
	border-top: 10px solid $light-grey;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
