$base-color: rgb(66, 133, 244);
$base-color-opacity-1: rgba($base-color, 0.1);
$base-color-opacity-2: rgba($base-color, 0.3);

$light-grey: #c0c0c0;
$lighter-grey: #f3f3f3;

$background: #fff;
$background-color: #fafafa;

$border: 1px solid $base-color-opacity-1;
