<p-dropdown
	[options]="companies"
	optionLabel="name"
	autoDisplayFirst="true"
	filter="true"
	filterBy="name,cnpj"
	(onChange)="onCompanyChanged($event)"
>
	<ng-template let-item pTemplate="selectedItem">
		<span style="vertical-align:middle">{{ item.label }}</span>
	</ng-template>
	<ng-template let-company pTemplate="item">
		<span style="vertical-align:middle">{{ company.label }}</span>
		<br />
		<span style="vertical-align:middle">{{ company.value.cnpj }}</span>
	</ng-template>
</p-dropdown>
